html,
body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0, 100, 200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0, 80, 160);
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.button-wrapper {
	border: 16px solid;
	border-image-outset: 0;
	border-image-repeat: stretch;
	border-image-slice: 250;
	border-image-source: url("/ui/Assets_Icon_Border_QtrCircle_2_Purple.png");
	border-image-width: 1;
	transition: 0.2s;
	/* Allow button to scale without blurring. Credit: https://stackoverflow.com/a/16878602/4418836 */
	backface-visibility: hidden;
	transform: translateZ(0);
	-webkit-font-smoothing: subpixel-antialiased;
	/* background-clip ensures that the background color wont overlap the border */
	background-clip: padding-box;
	background-color: #483f8e;
}

.button-wrapper.secondary {
	border-image-source: url("/ui/Assets_Icon_Border_QtrCircle_1.png");
	background-color: #262324;

}

a .button-wrapper {
	margin: 0 8px;
	text-align: center;
	color: white;
	text-decoration: none;
}

.button-wrapper:hover {
	filter: drop-shadow(0 0 0.4rem rgb(255, 255, 255));
}

.ui-border {
	border: 16px solid;
	border-image-outset: 0;
	border-image-repeat: stretch;
	border-image-slice: 250;
	border-image-source: url("/ui/Assets_Icon_Border_QtrCircle_3.png");
	border-image-width: 1;
	box-sizing: border-box;
	/* Prevent child elements from becoming bigger than the screen */
	max-height: 100%;
	display: flex;
	/* background-clip ensures that the background color wont overlap the border */
	background-clip: padding-box;
	background-color: #262324;
}

#content {
	max-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	border-radius: 4px;
	padding: 24px;
	color: white;
}

.flex {
	display: flex;
}

.gap-15 {
	gap: 15px;
}