html {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	width: 100vw;
	max-width:100%;
	height: 100vh;
	background-color: #111213;
	/* Remove unnecessary scrollbars */
	margin: 0;
}

a {
	color: rgb(0, 100, 200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0, 80, 160);
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.button-wrapper {
	border: 16px solid;
	border-image-outset: 0;
	border-image-repeat: stretch;
	border-image-slice: 250;
	border-image-source: url("/ui/Assets_Icon_Border_QtrCircle_2_Purple.png");
	border-image-width: 1;
	transition: 0.2s;
	/* Allow button to scale without blurring. Credit: https://stackoverflow.com/a/16878602/4418836 */
	backface-visibility: hidden;
	transform: translateZ(0);
	-webkit-font-smoothing: subpixel-antialiased;
	/* background-clip ensures that the background color wont overlap the border */
	background-clip: padding-box;
	background-color: #483f8e;
}

.button-wrapper.secondary {
	border-image-source: url("/ui/Assets_Icon_Border_QtrCircle_1.png");
	background-color: #262324;

}

a .button-wrapper {
	margin: 0 8px;
	text-align: center;
	color: white;
	text-decoration: none;
}

.button-wrapper:hover {
	filter: drop-shadow(0 0 0.4rem rgb(255, 255, 255));
}

.ui-border {
	border: 16px solid;
	border-image-outset: 0;
	border-image-repeat: stretch;
	border-image-slice: 250;
	border-image-source: url("/ui/Assets_Icon_Border_QtrCircle_3.png");
	border-image-width: 1;
	box-sizing: border-box;
	/* Prevent child elements from becoming bigger than the screen */
	max-height: 100%;
	display: flex;
	/* background-clip ensures that the background color wont overlap the border */
	background-clip: padding-box;
	background-color: #262324;
}

main {
	padding: 8px;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

@media (min-width: 640px) {
	main {
		max-width: 720px;
	}
}

#content {
	max-width: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 4px;
	border-radius: 4px;
	padding: 4px;
	color: white;
	overflow: hidden;
}

@media (min-width: 640px) {
	#content {
		padding: 24px;
		gap: 20px;
	}
}

#content>* {
	max-width: 100%;
}

#content p.readable {

	max-width: 600px;
}

p {
	color: white;
}

.flex {
	display: flex;
}

.gap-15 {
	gap: 15px;
}

.flex-wrap {
	flex-wrap: wrap;
}

.nowrap {
	white-space: nowrap;
}

.justify-center {
	justify-content: center;
}

h2 {
	margin: 0;
}

#assets #units img {
	max-width: 25%;
}

iframe {
	margin: 0 auto;
}

#assets img {
	max-width: 100%;
}

.bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg.cover {
    background-color: #262324;
    opacity: 0.7;
  }
  .bg.background {
    background-image: url("/ui/bg.png");
  }
  .bg.blue {
    background-image: url("/ui/bg-blue.png");
  }
  .bg.golem {
    background-image: url("/ui/bg-golem.png");
  }
  .bg.green {
    background-image: url("/ui/bg-green.png");
  }
  .bg.priest {
    background-image: url("/ui/bg-priest.png");
  }
  .bg.red {
    background-image: url("/ui/bg-red.png");
  }
  .bg.vampire {
    background-image: url("/ui/bg-vamp.png");
  }
  #animated-bg {
	z-index: -1;
	position: fixed;
	left:0;
	top:0;
	width: 100vw;
	max-width:100%;
	height: 100vh;
	overflow:hidden;
  }
  .bottom {
	position: absolute;
	bottom:8px;
	left:0;
	right:0;
	text-align: center;
	width:100%;
  }